<html>
<head>
<title>ini adalah pembelajaran flask menggunakan template </title>
</head>
<body>
<h1>Hello world !</h1>

<h2>ini adalah tag html</h2>
<p> hai irwan hidayatullah hai irwan hidayatullah hai irwan hidayatullah </p>
<p> hai irwan hidayatullah hai irwan hidayatullah hai irwan hidayatullah </p>
<p> hai irwan hidayatullah hai irwan hidayatullah hai irwan hidayatullah </p>
<p> hai irwan hidayatullah hai irwan hidayatullah hai irwan hidayatullah </p>
<p> hai irwan hidayatullah hai irwan hidayatullah hai irwan hidayatullah </p>


</body>

</html>